name: jnote
description: JNote Application

publish_to: "none" # Remove this line if you wish to publish to pub.dev

version: 0.0.1+1

environment:
  sdk: ">=2.18.5 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  hive_flutter: ^1.1.0
  faker: ^2.1.0
  go_router: ^6.0.1
  freezed_annotation: ^2.2.0
  get_it: ^7.2.0
  injectable: ^2.1.0
  google_fonts: ^3.0.1
  provider: ^6.0.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  flutter_launcher_icons: ^0.11.0
  build_runner: ^2.3.3
  injectable_generator: ^2.1.3
  freezed: ^2.3.2
  flutter_flavorizr: ^2.1.5
  hive_test: ^1.0.1
  hive_generator: ^2.0.0
  mockito: ^5.3.2

# The following section is specific to Flutter packages.
flutter:
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  fonts:
    - family: JNoteIcons
      fonts:
        - asset: assets/fonts/JNoteIcons.ttf

flutter_icons:
  android: "ic_launcher"
  ios: true
  image_path: "assets/icons/icon.png"

flavorizr:
  flavors:
    dev:
      app:
        name: "JNote (Dev)"

      android:
        applicationId: "com.cya.jnote.dev"
        # firebase:
        #   config: ".firebase/dev/google-services.json"

      ios:
        bundleId: "com.cya.jnote.dev"
        # firebase:
        #   config: ".firebase/dev/GoogleService-Info.plist"

    prod:
      app:
        name: "JNote"

      android:
        applicationId: "com.cya.jnote"
        # firebase:
        #   config: ".firebase/google-services.json"
      ios:
        bundleId: "com.cya.jnote"
        # firebase:
        #   config: ".firebase/GoogleService-Info.plist"
